html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Helvetica Neue', sans-serif;
  --gray: #505256;
  --blue: #0284FE;
  --light-gray: #F1F2F4;
  --accent-gray: #E1E4E8;
  padding-bottom: 100px;
}

#navbar-container {
  align-items: center;
  padding: 10px 20%;
  height: 50px;
}

.logo-small {
  font-size: 20px;
  font-weight: 600;
}

#navbar-subcontainer {
  align-items: center;
}

.navbar-btn {
  padding: 0 10px;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#navbar-register-btn {
  padding: 10px 10px;
  background-color: var(--light-gray);
  color: #505256;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 
  width: 90%;
  margin: 0 auto;
  height: 80vh;
}

#hero-center {
  width: 40%;
  min-width: 350px;
  text-align: center;
}

#hero-header {
  font-size: 42px;
}

#hero-subtitle {
  font-size: 17px;
  color: var(--gray);
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-btn-container {
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
  padding: 15px 0;
}

.major-btn-blue {
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  width: 15%;
  min-width: 140px;
  height: 4vh;
  min-height: 40px;
  border-radius: 5px;
}

.major-btn-outline {
  border: 1px solid var(--accent-gray);
  color: var(--gray);
  text-decoration: none;
  width: 15%;
  min-width: 140px;
  height: 4vh;
  min-height: 40px;
  border-radius: 5px;
}


@media (min-width: 992px) {
  #three-square-section-container {
    padding: 10%;
    padding-top: 2%;
    margin-top: 25px;
    display: grid;
    column-gap: 25px;
    columns: 3;
    grid-template-columns: repeat(3, 1fr);
  }

  #trusted-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #doctor-image {
    max-width: 50%;
  }

  #trusted-text-container {
    padding-bottom: 100px;
  }
}

@media (max-width: 991px) {
  #three-square-section-container {
    padding: 10%;
    margin: 25px auto;
    max-width: 600px;
  }

  #three-square-section-container > div {
    margin-bottom: 15px;
  }

  #doctor-image {
    max-width: 80%;
    padding-left: 25px;
  }

  #trusted-text-container {
    padding-bottom: 50px;
  }
}

@media (max-width: 725px) {
  #navbar-minor-wrapper {
    display: none;
  }
}

#three-square-section-container > div {
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
}

.three-square-heading {
  font-size: 24px;
  margin-left: 5px;
}

.flex-aic {
  display: flex;
  align-items: center;
}

.three-square-text {
  color: var(--gray);
  line-height: 1.55em;
  letter-spacing: 0.035em;
}

.section-header {
  margin-top: -6%;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

#trusted-container {
  width: 80%;
  margin: 0 auto;
}

#doctor-image {
  border-radius: 15px;
}

#trusted-header {
  padding-left: 25px;
}

.trusted-text {
  color: var(--gray);
  font-size: 18px;
  width: 70%;
  padding-left: 25px;
}
