html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Helvetica Neue', sans-serif;
  --gray: #505256;
  --blue: #0284FE;
  --light-gray: #F1F2F4;
  --accent-gray: #E1E4E8;
  padding-bottom: 100px;
}

#navbar-container {
  align-items: center;
  padding: 10px 20%;
  height: 50px;
}

.logo-small {
  font-size: 20px;
  font-weight: 600;
}

#navbar-subcontainer {
  align-items: center;
}

.navbar-btn {
  padding: 0 10px;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#navbar-register-btn {
  padding: 10px 10px;
  background-color: var(--light-gray);
  color: #505256;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 
  width: 90%;
  margin: 0 auto;
  height: 80vh;
}

#hero-center {
  width: 40%;
  min-width: 350px;
  text-align: center;
}

#hero-header {
  font-size: 42px;
}

#hero-subtitle {
  font-size: 17px;
  color: var(--gray);
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-se {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  padding: 40px 10%;
  margin-top: 60px;
}

@media (min-width: 600px) {
  #main-container {
    display: flex;
    justify-content: space-between;
  }

}

@media (max-width: 600px) {
  #navbar-subcontainer {
    display: none;
  }
}

#illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing-illustration {
  width: 60vw;
  height: 60vh;
  max-width: 700px;
  max-height: 700px;
}

#main-title {
  font-size: 48px;
  text-align: center;
}

#main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub-content-wrapper {
  width: 75%;
  min-width: 200px;
  max-width: 600px;
}

.pricing-minor {
  color: var(--gray);
  line-height: 1.55em;
  letter-spacing: 0.035em;
}

#price-large {
  font-size: 42px;
  text-align: center;
  color: var(--blue);
  text-decoration: underline;
}
